*{
	margin-top: 0;
}

.menu-heading{
	font-family: "Roboto";
	text-align: center;
	text-transform: capitalize;
}
.flex{
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: 1fr 1fr 1fr;	
}
.menu-name1{
	background-color: #ffff1a;	
}
.menu-name2{
	background-color: #00ffff;
}
.menu-name3{
	background-color: #ff66cc;
}
.menu{
	text-align: center;
	padding: 5px;
	border: 1px solid black;
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
}
.para1{
	background-color: #4d94ff;
}
.para2{
	background-color: #1aff1a;
}
.para3{
	background-color: #b366ff;
}
.para{
	border: 1px solid black;
	padding: 50px 16px 0;
	position: relative;
}

/***********************************media query**************************************************************/
/************************************Desktop view************************************************************/



/***********************************Tablet view**************************************************************/
@media (min-width: 768px) and (max-width:989px)
{
	.flex{
		 grid-template-columns: 1fr 1fr;
	}
	.para3{
		grid-column: 1 / span 2;
	}
}
/***********************************mobile view**************************************************************/
@media (min-width: 400px) and (max-width:767px)
{
	.flex{
		grid-template-columns: 1fr; 
	}
}
